<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/findyourplace">
		</property>
		<property name="username" value="public"></property>
		<property name="password" value="public"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>code/model/User.hbm.xml</value>
				<value>code/model/Question.hbm.xml</value>
				<value>code/model/Answer.hbm.xml</value>

				<value>code/model/Googlemap.hbm.xml</value>
				<value>code/model/Mappoint.hbm.xml</value>
<!--
				<value>code/model/Mappolyline.hbm.xml</value>
				<value>code/model/Mappolypoint.hbm.xml</value>
-->	
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="deductPoint">PROPAGATION_REQUIRED</prop>
				<prop key="payReward">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<!--DAO-->
	<bean id="UserDao" class="code.dao.hibernate.UserDaoHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="QuestionDao" class="code.dao.hibernate.QuestionDaoHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
    <bean id="AnswerDao" class="code.dao.hibernate.AnswerDaoHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
    <bean id="GooglemapDao" class="code.dao.hibernate.GooglemapDaoHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
   <bean id="MappointDao" class="code.dao.hibernate.MappointDaoHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
<!--  
   <bean id="MappolylineDao" class="code.dao.MappolylineDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
   <bean id="MappolypointDao" class="code.dao.MappolypointDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
-->		
	<!--Service-->
	<bean id="LoginService" class="code.service.impl.LoginServiceImpl">
		<property name="userDao">
			<ref bean="UserDao" />
		</property>
	</bean>

	<bean id="QuestionService" class="code.service.impl.QuestionServiceImpl">
		<property name="questionDao">
			<ref bean="QuestionDao" />
		</property>
		<property name="userDao">
			<ref bean="UserDao" />
		</property>
	</bean>
	<bean id="AnswerService" class="code.service.impl.AnswerServiceImpl">
		<property name="questionDao">
			<ref bean="QuestionDao" />
		</property>
		<property name="userDao">
			<ref bean="UserDao" />
		</property>
		<property name="answerDao">
			<ref bean="AnswerDao" />
		</property>
	</bean>
	
	<bean id="SearchService" class="code.service.impl.SearchServiceImpl">
		<property name="questionDao">
			<ref bean="QuestionDao" />
		</property>
	</bean>
	<bean id="GooglemapService" class="code.service.impl.GooglemapServiceImpl">
		<property name="googlemapDao">
			<ref bean="GooglemapDao" />
		</property>
	</bean>
	
	<!--ServiceProxy-->
	<bean id="LoginServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="LoginService" />
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="QuestionServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="QuestionService" />
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
	<bean id="AnswerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="AnswerService" />
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
	<bean id="SearchServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="SearchService" />
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
	<bean id="GooglemapServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="GooglemapService" />
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
	
	<!--Action-->
	<bean name="LoginActionBean" class="code.action.LoginAction"
		scope="prototype">
		<property name="loginService">
			<ref bean="LoginServiceProxy" />
		</property>
	</bean>

	<bean name="QuestionActionBean" class="code.action.AskQuestionAction"
		scope="prototype">
		<property name="questionService">
			<ref bean="QuestionServiceProxy" />
		</property>
	</bean>
	<bean name="AnswerActionBean" class="code.action.AnswerQuestionAction"
		scope="prototype">
		<property name="answerService">
			<ref bean="AnswerServiceProxy" />
		</property>
	</bean>
	<bean name="SearchActionBean" class="code.action.SearchAction"
		scope="prototype">
		<property name="searchService">
			<ref bean="SearchServiceProxy" />
		</property>
	</bean>
	<bean name="ShowQuestionActionBean" class="code.action.ShowQuestionAction"
		scope="prototype">
		<property name="questionService">
			<ref bean="QuestionServiceProxy" />
		</property>
	</bean>
	<bean name="LatestQuestionActionBean" class="code.action.GetLatestQuestionAction"
		scope="prototype">
		<property name="questionService">
			<ref bean="QuestionServiceProxy" />
		</property>
	</bean>
  	<bean name="GooglemapActionBean" class="code.action.GooglemapAction"
		scope="prototype">
		<property name="googlemapService">
			<ref bean="GooglemapServiceProxy" />
		</property>
	</bean>
	<bean name="UploadImageActionBean" class="code.action.UploadImageAction"
		scope="prototype">
	</bean>
	
</beans>